@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Breakpoint 1024px, 768px */

:root {
	/* Mode 1 */
	/* colors */
	--black: #171717;
	--black-hover: #282828;
	--blue: #0071e9;
	--blue2: #0071e940;
	--blue3: #0071e91a;
	--green: #34c759;
	--green2: #34c75940;
	--green3: #34c7591a;
	--grey: #e4e4e4;
	--grey2: #696969;
	--grey3: #fcfcfc;
	--orange: #ff9500;
	--orange2: #ff950040;
	--orange3: #ff95001a;
	--red: #ff3b30;
	--red2: #ff3b3040;
	--red3: #ff3b301a;
	font-family: 'Inter', sans-serif;
}

/* reset */
a,
button {
	all: unset;
	cursor: pointer;
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* css */

body {
	color: var(--black);
	background-color: white;
	margin: 0;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
}

a.link {
	font-weight: 600;
	text-decoration-line: underline;
	color: var(--blue);
}

strong {
	font-weight: 600;
}
